
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header class="head">
    <h1>    Одаренные дети Югры
        <a href="profile.html"><button>Профиль</button></a>
        
    </h1>
</header>
<body>
    {% extends "base.html" %}
    <table>
            <tr>
            <th>ФИО</th>
            <th>Область знаний</th>
            <th>Город</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>row.fullname</td>
            <td>row.region_ed</td>
            <td>row.city</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>