<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="head">
        <h1>    Одаренные дети Югры
            <a href="login"><button>Профиль</button></a>
            <a href="login"> <button>Войти</button> </a>
            <a href="register"><button>Регистрация</button></a>
        </h1>
    </header>
    <main>
    <blockquote style="width: fit-content;"><h4>Югра полна талантливыми детьми,<br> о которых никто не знает. <br> Мы хотим это исправить</h4></blockquote>
    <a href="login.html"><button>Посмотреть</button></a>

    </main>
</body>
</html> 