<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StolKringe</title>
    <link rel="stylesheet" href="login_style.css" type="text/css">
</head>
        <body class="shift container" style="color: dimgray;">
            <header class="head">
                <h1>    Одаренные дети Югры
                    <a href="login.html"><button>Профиль</button></a>
                    <a href="login.html"> <button>Войти</button> </a>
                    <a href="reg.html"><button>Регистрация</button></a>
                </h1>
            </header>
    
            <main>
                <a href="index.html">
                    <button>
                    </button>
                </a>
    
                <form autocomplete="on" method="post"> 
                    <fieldset>
                        <legend>Введите вашу почту</legend>
                        <input type="email" name="mail" id="" placeholder="ivanborkalov@mail.ru">
                    </fieldset>
                    
                    <br>
                    
                    <fieldset>
                        <legend>Введите пороль</legend>
                        <input  type="password" name="password" id="" placeholder="qwerty123">
                    </fieldset>
                    
                    <br>
    
                    <input type="submit" id="" name="">
    
                </form>
                
                <label>Нет аккаунта?</label>
                <a href="reg.html"><button>Регистрация</button></a>
    
            </main>
        </body>
    
 </div>
</html>