<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StolKringe</title>
</head>

        <body class="body1">
            <header class="head">
                <h1>    Одаренные дети Югры
                    <a href="login"><button>Профиль</button></a>
                    <a href="login"> <button>Войти</button> </a>
                    <a href="register"><button>Регистрация</button></a>
                </h1>
            </header>

            <main>

                <form autocomplete="on" method="post">
                    <fieldset>
                        <legend>Введите вашу почту</legend>
                         {{ form.email(class="form-control", type="email") }}
                         {% for error in form.email.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </fieldset>

                    <br>

                    <fieldset>
                        <legend>Введите пороль</legend>
                        {{ form.password(class="form-control", type="password") }}
                        {% for error in form.password.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </fieldset>

                    <br>

                    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    <p>{{ form.remember_me() }}</p>
                    <div>{{ message }}</div>

                </form>

                <label>Нет аккаунта?</label>
                <a href="reg.html"><button>Регистрация</button></a>

            </main>
        </body>


</html>