<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">
        <title>Regist</title>
</head>

<body class="shift container" style="color: dimgray; height: 597px;">
    <header >
        <h1>    Одаренные дети Югры
        <a href="login.html"><button>Войти</button></a>
        <a href="reg.html"><button>Регистрация</button></a>
        </h1> 
    </header>

    <main>
        <a href="index.html" style="float: right"><button >X</button></a><br>
        <!-- форма регистрации -->
        <form action="/" style="margin: 40px;">
            <label for="name">ФИО</label>
            <input type="text" placeholder="Введите ваше ФИО" id="" name="">

            <br>

            <label for="email">Почта</label>
            <input type="text" placeholder="Введите вашу почту" id="" name="">

            <br>

            <label for="region_for_ed">Введите ваши область(и) таланта(ов)</label>
            <input type="text" placeholder="Введите область" id="" name="">
            
            <br>

            <label for="link_for_yadisk">Ссылка на Яндекс.Диск или Google Диск</label>
            <input type="text" placeholder="Введите ссылку" id=""  name="">

            <br>

            <label for="interview">Расскажите о себе, чем вы занимаетесь(до 300 слов)</label><br>
            <textarea name="" id="" cols="30" rows="4" class="min""></textarea>

            <br><br><br><br>

            <a href="profile.html"><button>Зарегестрироваться</button></a>

        </form>
    </main>
    <footer>
    </footer>
</body>
</html>