<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <header class="head">
        <h1>    Одаренные дети Югры
            <a href="profile.html"><button>Профиль</button></a>
            <a href="login.html"> <button>Войти</button> </a>
            <a href="reg.html"><button>Регистрация</button></a>
        </h1>
    </header>
<body>
    <div>
        <!-- форма регистрации -->
        <form action="/">
            <label for="name">ФИО</label>
            <input type="text" placeholder="Введите ваше ФИО" id="" name="">

            <br>

            <label for="email">Почта</label>
            <input type="text" placeholder="Введите вашу почту" id="" name="">

            <br>

            <label for="region_for_ed">Введите ваши область(и) таланта(ов)</label>
            <input type="text" placeholder="Введите область" id="" name="">
            
            <br>

            <label for="link_for_yadisk">Ссылка на Яндекс.Диск или Google Диск</label>
            <input type="text" placeholder="Введите ссылку" id=""  name="">

            <br>

            <label for="interview">Расскажите о себе, чем вы занимаетесь(до 300 слов)</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <br>

            <a href="profile.html"><input type="submit" value="Оправить" name="" id=""></a>

        </form>
    </div>
</body>
</html>