<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="shift">
    <header class="head">
        <h1>    Одаренные дети Югры
            <a href="login"><button>Профиль</button></a>
            <a href="login"> <button>Войти</button> </a>
            <a href="register"><button>Регистрация</button></a>
        </h1>
    </header>

    <main>
        <!-- форма регистрации -->
        <form autocomplete="on" method="post">
            <label>ФИО</label>
                <p>{{ form.surname(class="form-control", type="text", placeholder="Фамилия") }}</p>
                <p>{{ form.name(class="form-control", type="text", placeholder="Имя") }}</p>
                <p>{{ form.patronymic(class="form-control", type="text", placeholder="Отчество") }}</p>
                {% for error in form.surname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <br>

            <label>Почта</label>
                {{ form.email(class="form-control", type="email") }}
                {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <br>

            <label>Введите вашу(и) область(и) таланта(ов)</label>
                {{ form.areas_giftedness(class="form-control", type="text") }}
                {% for error in form.areas_giftedness.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <br>

            <label>Ссылка на Яндекс.Диск или Google Диск</label>
                {{ form.link_to_achievements(class="form-control", type="text") }}
                {% for error in form.link_to_achievements.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <br>


            <label>Дата рождения</label>
                {{ form.birthday(class="form-control", type="date") }}
                {% for error in form.birthday.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <br>

            <label>Город</label>
                {{ form.city(class="form-control", type="text") }}
                {% for error in form.city.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <br>

                        <label>Пароль</label>
                {{ form.password(class="form-control", type="password") }}
                {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <br>

                                    <label>Повторите пароль</label>
                {{ form.password_again(class="form-control", type="password") }}
                {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            <br>

            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

        </form>
    </main>
</body>
</html>